.alert-content {
    position: fixed;
    text-align: center;
    bottom: 0;
    z-index: 1;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.info {
    background: rgb(250, 250, 100);
}

.success {
    background: rgb(100, 255, 80);
}

.warning {
    background: rgb(255, 80, 80);
}
