@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap");


// *** FONTS ***//
$head_menu_font: 'Catamaran', 'Helvetica', 'Arial', sans-serif;
$button_top-menu-links_font: 'Lato', 'Helvetica', 'Arial', sans-serif;
$paragraphs_font: 'Mulish','Helvetica', 'Arial', sans-serif;
$footer_font: 'Mulish','Helvetica', 'Arial', sans-serif;

// *** FONT SIZES ***//
$font-xs: 0.6rem;
$font-sm: 0.9rem;
$font-md: 1.2rem;
$font-lg: 1.5rem;
$font-xlg: 2.5rem;
$font-xxlg: 3.5rem;

// *** COLORS *** // 
$bs_bg_color-yellow: #ffc946;
$footer-text_color: #666667;
$grey: #4b4b4b;
$lightgrey: #e7e7e7;
$links-text_color: #d9c4d7;
$menu_black:#222323;
$red: #dd4d38;
$salmon: #a9375c;
$white:#fff;
$yellow: #fdcc52;

$twitterblue: #1ca1f2;
$facebookblue: #3b5999;
$googlered: #dd4d38;



// *** IMAGES *** //
$header_background: "../../img/bg-pattern.png";
$stop_background: "../../img/bg-cta.jpg";

